<!-- Features -->
<div class="features-container section-container" id="features">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 features section-description wow fadeIn">
        <h2>The Left Stands for <b>Courage</b></h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-sm-8 col-sm-push-2 lead">
        <p>The Left Stands for Courage. We may not care about every
        issue, but we want each individual to have dominion over
        themselves so that they may lead a better life for themselves
        and their family whatever race, ethnicity, gender, or sexual
        orientation they are. We want our world to be left better even
        if it means sacrificing in the moment. We fight for what is
        right and what is good. We build things and dream far. We may
        get derided and called elitists but we move the world
        forward. The Left dreams Big. We seek progress. We care about
        the aspiration of every individual. We want every individual
        to have dignity and to make a mark.</p>

        <p>We messed up, and we worst off for it. So let's make sure
          the policies of the Left stay intact and that we can help
          secure those values. We have to mobilize the Left. We have
          to find strategies to bring every individual to help. We
          need every person on the Left to tackle issues. We have to
          accept that not every issue we hold is going to be dear to
          everyone. We have to win one person, one issue at a time.</p>

        <p>Let's Get to Work.</p>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 section-bottom-button wow fadeInUp">
      </div>
    </div>
  </div>
</div>
