<style>
 .btn-link-fix {
     padding: 0px 20px 0 20px !important
 }
</style>
<!-- About us -->
<div class="contact-container section-container section-container-gray-bg" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 about-us section-description wow fadeIn">
        <h2><strong>Get</strong> updates</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
        <h3>We are building up CloudCost. Keep informed.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 about-us-box wow fadeInDown">
        <div id="mc_embed_signup">
          <form action="//acksin.us13.list-manage.com/subscribe/post?u=9119109a1ec44da0a7b392f83&amp;id=49e277272a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email">
                <br>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-link-1 btn-link-fix btn-lg">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9119109a1ec44da0a7b392f83_49e277272a" tabindex="-1" value=""></div>
              <div class="clear"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
