<!-- Call to action -->
<div class="products-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
        <h2><strong></strong>Ideas</h2>

        <div class="divider-1 wow fadeInUp"><span></span></div>
        <div class="col-lg-6 wow fadeInUp">
          <h3>One Issue</h3>
          <p class="text-left">
            Get every person to just focus on one issue that is
            important to them. Have them find out about the laws and
            changes around the country that affect that one issue. We
            need to focus on a platform of people fighting for things
            and issue at a time. One person may care about gay rights
            while another may fight for immigration. But between time
            constraints and other factors we can't have people
            focusing on all issues we should have them focus on
            one. To keep things focused we will only tackle 10 issues
            at a time.
          </p>
        </div>

        <div class="col-lg-6 wow fadeInDown">
          <h3>Localize</h3>

          <p class="text-left">
            We cannot treat Middle America the way we treat Urban
            America. They are two distinct cultures and carry very
            different ideas of how to do things. Middle America
            doesn't like welfare because welfare for them happened
            through the church. Trying to get them to like welfare
            won't work. If we want to bridge the gap of welfare we
            have to incorporate strategies that works well in Middle
            America. One size does not fit all. We have to get the
            individual communities involved. Certain things cannot be
            done through the Church such as Abortion and Gay Rights
            but a lot of other things can get the local community
            involved..
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
        <div class="col-lg-6 wow fadeInUp">
          <h3>One Issue</h3>
          <p class="text-left">
            Get every person to just focus on one issue that is
            important to them. Have them find out about the laws and
            changes around the country that affect that one issue. We
            need to focus on a platform of people fighting for things
            and issue at a time. One person may care about gay rights
            while another may fight for immigration. But between time
            constraints and other factors we can't have people
            focusing on all issues we should have them focus on
            one. To keep things focused we will only tackle 10 issues
            at a time.
          </p>
        </div>
      </div>
    </div>


    <%#
    <div class="row">
      <div class="col-sm-12 section-bottom-button wow fadeInUp">
        <a class="btn btn-link-1" href="https://blog.acksin.com" target="_blank">Our Blog</a>
        <a class="btn btn-link-2" href="https://devops.acksin.com" target="_blank">Hire Us</a>
      </div>
    </div>
    %>
  </div>
</div>
