<!-- More features -->
<div class="quickstart-container section-container section-container-gray-bg" id="quickstart">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 more-features section-description wow fadeIn">
        <h2>Strategies</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 more-features-box wow fadeInLeft text-left">
        <h3>Goals</h3>
        <ul>
          <li>The Left does not have a clear message. Its role is always defined from the right. Let's create a single message.</li>
          <li>The Left fights for many ideas but it is hard for any
          person to mobilize around all of them. By trying to force
          all the issues as equal we are playing a zero-sum game in
          which we lose. We need to take some of the strategies of the
          right and apply them to our issues. We need to fight them at
          an issue by issue level.</li>
          <li>We need to make sure that the Left in Middle America is
          not trampled. We need to help, educate and assist people in
          those communities.</li>
        </ul>
      </div>

      <div class="col-sm-6 more-features-box wow fadeInUp text-left">
        <h3>Platform</h3>
        <ul>
          <li><b>No more niceties.</b> It is time to be aggressive. We
          cannot lose all the progress that we have made.</li>
          <li><b>Evoke Emotion.</b> The message of the Left is
          lackluster. For good or bad the Right has used emotion in
          its fight. We must do the same. We can use facts but humans
          are emotional creatures first. Let's fight with emotion. How
          we sell our ideas matter and for too long the right has
          defined what that message is.</li>
          <li><b>One issue at a time.</b> The goals of the Left are
          large. However, some issues are more pertanent then others
          for different people. We need focus the energies of people
          and win battles one issue at a time.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
